<h3>Update "<%= @survey.title() %>"</h3>
<form action="/questions" method="post">
  <input id="survey_id" name="survey_id" type="hidden" value="<%= @survey.id() %>">

  <label for="question">Add a question to your survey:</label>
  <input id="question" name="question" type="text" value="" placeholder="Question goes here.">

  <button type="submit">Add Question</button>
</form>

<p></p>

<form action="/surveys/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="title">Edit the survey name here:</label>
  <input id="title" name="title" type="text" value="<%= @survey.title() %>">

  <button type="submit">Update</button>
</form>

<p></p>

<form action="/surveys/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Survey</button>
</form>
